.main{
    width: 980px;
    height: 450px;
    /* background-color: pink; */
    margin-left: 220px;
    margin-top: 10px;

}
.focus{
    width: 721px;
    height: 455px;
    float: left;
    background-color: blue;

}
.newsflash{
    width: 250px;
    height: 455px;
    /* background-color: skyblue; */
    float: right;
}
.news{
    height: 165px;
    /* background-color: pink; */
    border: 1px solid #ccc;
}
.news_head{
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news_head h5{
    float: left;
    font-size: 14px;
}
.news_head .more{
    float: right;    
}
.news_head .more::after{
    content: '\ea51';
    font-family: 'icomoon';
}
.news_body{
    margin-left: 10px;
}
.news_body ul li{
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    /* 段落中的文本不进行换行： */
    text-overflow: ellipsis;
    /* 溢出文本用省略号 */
}
.news_body ul li strong{
    padding-right: 5px;
}
.lifeservice{
    height: 209px;
    /* background-color: aqua; */
    border: 1px solid #e4e4e4;
    border-top: 0px;
    overflow: hidden;
}
.lifeservice ul{
    width: 252px;
}

.lifeservice ul li{
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    float: left;
    text-align: center;
    position: relative;
}
.lifeservice ul li i{
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: pink;
    margin-top:12px ;
    background: url(../images/icons.png) no-repeat -17px -15px;


}
.lifeservice ul li img{
    position: absolute;
    top: 0px;
    right: 0px;

}
.bargain{
    background-color: blue;
    margin-top: 5px;
}

.recommend{
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}
.recommend_head{
    background-color: RGB(92,82,81);
    width: 205px;
    height: 163px;
    text-align: center;
    padding-top: 30px;
}
.recommend_head p{
    margin: 10px;
    font-size: 18px;
    color: #ccc;
}
/* .recommend_body{
    background-color: #ebebeb;
} */
.recommend_body ul li {
    position: relative;
    float: left;

}
.recommend_body ul li:nth-child(n+2):after{
    content: '';
    position: absolute;
    width: 1px;
    height: 145px;
    background-color:#ddd;
    top: 10px;
    left: 0px;
}

/* 家用电器模块 */
.box_hd{
    height: 30px;
    border-bottom: 2px solid #c81623;
    margin-top:25px;
}
.box_hd h3{
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: bold;
    line-height: 28px;
}
.tab_list {
    float: right;
}
.tab_list ul li{
    float: left;
}
.tab_list ul li a{
    margin: 0px 7px;
    line-height: 28px;
}
.box_bd{
    height: 361px;
    /* background-color: pink; */
}
.tab_list_item>div{
    float: left;
    height: 361px;
    text-align: center;
}
.col_210{
    width: 210px;
    background-color: #f9f9f9;
}
.col_210 ul{
    margin-left: 10px;
}
.col_210 ul li{
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    float: left;
    margin-right: 10px;
}
.col_329{
    width: 329px;
    padding-right: 1px;
    border-right: 1px solid #ccc;
}
.col_221{
    width: 221px;
    display: block;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 0px solid #ccc;
    padding-left:2px ;
    
    

}
.col_219{
    width: 219px;
    display: block;
    border-right: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
    /* padding-left: 1px; */
    /* float: right; */
}
.bb{
    display: block;
    border-bottom: 1px solid #ccc;
    /* border-right: 1px solid black; */
    text-align: center;
}

